<template>
  <div class="login">
    <br><br>
    <div v-if="showlogin == true">

      <div class="form">
        <center><h1>Connexion</h1></center>
        <form>
          <div class="mb-1">
            <label class="form-label">Adresse mail</label>
            <input v-model="email" type="email" class="form-control">
          </div>
          <div class="mb-1">
            <label class="form-label">Password</label>
            <input v-model="password" type="password" class="form-control">
          </div>
          <button @click="login(email, password)" class="btn btn-primary">Connexion</button>
        </form>
        <br>
        <button @click="showlogin = false; showregister = true" class="btn btn-primary">nouveau compte</button>
      </div>
    </div>
    <div v-if="showregister == true">
      <div class="form">
        <center><h1>Inscription</h1></center>
        <form>
          <div class="mb-1">
            <label class="form-label">Pseudo</label>
            <input
              id="registerPsedo"
              name="registerPsedo"
              v-model="registerPsedo"
              type="text"
            >
          </div>
          <div class="mb-1">
            <label class="form-label">Adresse mail</label>
            <input
              id="registerMail"
              name="registerMail"
              v-model="registerMail"
              type="email"
            >
          </div>
          <div class="mb-1">
            <label class="form-label">Password</label>
            <input
              id="registerPassword"
              name="registerPassword"
              v-model="registerPassword" 
              type="password" 
            >
          </div>
          <button @click="register()" class="btn btn-primary">Inscription</button>
        </form>
        <br>
        <button @click="showlogin = true; showregister = false" class="btn btn-primary">Annuler</button>
      </div>
    </div>
  </div>
</template>

<script>
import store from "../store/modules/loginStore";
import user from "../store/modules/loginStore";

export default {
  name: 'Login',
  store: store,

  data() {
    return {
      connect: false,
      jwt: "",
      registerPsedo: "",
      registerMail: "",
      registerPassword: "",
      showlogin: true,
      showregister: false
    };
  },

  methods: {
    // Déconnexion du compte
    disconect() {
      this.connect = false;
      this.email = '';
      this.password = '';
    },
    // Connexion à un compte avec email et un mot de passe
    login(email, password) {
      store.dispatch("login", {email: email, password: password}).then((response) => {
          if(response){
              this.$router.push('/allrecipe'); 
          }
      });
    },
    // Inscription avec un pseudo, un email et un mot de pase
    register() {
      let submit = {
        psedo: this.registerPsedo,
        mail: this.registerMail,
        pass: this.registerPassword,
      };
      return user.dispatch("register", submit).then((response) => {
        if(response){
          setTimeout(() => {  this.$router.push('/'); }, 5000);
        }
      });
    }
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
