
<template>
  <div>
    <div>
      <h3>Add Recipe</h3>
      <div class="add">
        <p>
          <a @click="newshow = true" class="waves-effect waves-light btn">ajouter recette</a><br> 
        </p>
          <div v-if="newshow == true">
            <p>
              <label for="newtitle">Titre</label>
              <input
                id="newtitle"
                v-model="newtitle"
                type="text"
                name="newtitle"
              >
            </p>
            <p>
              <label for="newdescriptive">Description</label>
              <textarea
                id="newdescriptive"
                v-model="newdescriptive"
                type="text"
                name="newdescriptive"
              ></textarea>
            </p>
            <p>
              <label for="newingrediant">Ingrediant</label>
              <textarea
                id="newingrediant"
                v-model="newingrediant"
                type="text"
                name="newingrediant"
              ></textarea>
            </p>
            <p>
              <label for="newrecipe">Recette</label>
              <textarea
                id="newrecipe"
                v-model="newrecipe"
                type="text"
                name="newrecipe"
              ></textarea>
            </p>
            <div @click="newR() ;newshow = false, showRecipe = false" class="waves-effect waves-light btn">ajouter</div>
            <div @click="newshow = false" class="waves-effect waves-light btn">annuler</div>
          </div>
      </div>
    </div>
    <h3>Recettes</h3>
    <div v-if="showRecipe == true">
      <div>
          <ul>
              <li>{{title}}</li>
              <li><br><b>descriptif: </b><br>{{descriptive}}</li>
              <li><br><b>ingrediants: </b><br>{{ingrediant}}</li>
              <li><br><b>recette: </b><br>{{recipe}}</li>
          </ul>
            <div v-for="user in id_user" :key="user._id">
              <p>recette de {{user.psedo}}</p>
              <div v-if="user.id == getid(parseJwt(getjwt))">
                <div @click="getValue(title, descriptive, ingrediant, recipe); showEdit = true; scrollTo()" class="waves-effect waves-light btn"><b>modifier</b></div>
                <div @click="deleteR(); entityhide(); closeEdit()" class="waves-effect waves-light btn"><b>supprimer</b></div>
              </div>
            </div>
          <div @click="entityhide(); closeEdit()" class="waves-effect waves-light btn"><b>fermer</b></div>
      </div>
    </div>
    <div v-if="showEdit == true">
      <p>
        <label for="titleEdit">Titre</label>
        <input
          id="titleEdit"
          v-model="titleEdit"
          type="text"
          name="titleEdit"
        >
      </p>
      <p>
        <label for="descriptiveEdit">Description</label>
        <input
          id="descriptiveEdit"
          v-model="descriptiveEdit"
          type="text"
          name="descriptiveEdit"
        >
      </p>
      <p>
        <label for="ingrediantEdit">Ingrediant</label>
        <input
          id="ingrediantEdit"
          v-model="ingrediantEdit"
          type="text"
          name="ingrediantEdit"
        >
      </p>
      <p>
        <label for="recipeEdit">Recette</label>
        <input
          id="recipeEdit"
          v-model="recipeEdit"
          type="text"
          name="recipeEdit"
        >
      </p>
      <p @click="modif(); showEdit = false; showRecipe = false" class="waves-effect waves-light btn">Confirmer</p>
      <p @click="closeEdit()" class="waves-effect waves-light btn">Annuler</p>
    </div>
    <ul class="collection">
      <div class="collection-item avatar" v-for="recipe in allRecipes" :key="recipe._id">
        <div @click="reload(); showEdit = false ;Scrolltop(); entityshow(recipe._id, recipe.title, recipe.descriptive, recipe.ingrediant, recipe.recipe, recipe.id_user)" class="waves-effect waves-light btn"><b>{{ recipe.title }}</b>
        </div>
      </div>
    </ul>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';
import jwt from "../store/modules/loginStore"

export default {
  name: "Recipe",
  jwt: jwt,
  data(){
    return{
      showEdit: false,
      showRecipe: false,
      title: "",
      descriptive: "",
      ingrediant: "",
      recipe: "",
      id_user: "",
      titleEdit: "",
      descriptiveEdit: "",
      ingrediantEdit: "",
      recipeEdit: "",
      id: "",
      getjwt: "",
      newtitle: '',
      newdescriptive: '',
      newingrediant: '',
      newrecipe: '',
      newshow: false
    }   
  },
  methods:{
    ...mapActions(["fetchRecipes","updateRecipe"]),
    // Modification d'une recette
    modif() {
      const updatedRecipe = {
        id: this.id,
        payload: {
          title: this.titleEdit,
          descriptive: this.descriptiveEdit,
          ingrediant: this.ingrediantEdit,
          recipe: this.recipeEdit
        },
        jwt: this.getjwt
      }
      this.updateRecipe(updatedRecipe),
      this.fetchRecipes()
      setTimeout(() => {  this.fetchRecipes(); }, 5000);
    },
    ...mapActions(["deleteRecipe"]),
    // Suppression d'une recette
    deleteR() {
      const deletedRecipe = {
        id: this.id,
        jwt: this.getjwt
      }
      this.deleteRecipe(deletedRecipe),
      this.fetchRecipes(),
      setTimeout(() => {  this.fetchRecipes(); }, 5000);
    },
    ...mapActions(["addRecipe"]),
    // Ajout d'une nouvelle recette
    newR() {
      const obj = {
        payload: {
          title: this.newtitle,
          descriptive: this.newdescriptive,
          ingrediant: this.newingrediant,
          recipe: this.newrecipe,
        },
        jwt: this.getjwt
      }
      this.addRecipe(obj);
      this.newshow = false
      this.newtitle = '';
      this.newdescriptive = '';
      this.newingrediant = '';
      this.newrecipe = '';

      this.fetchRecipes()
      setTimeout(() => {  this.fetchRecipes(); }, 5000);
    },
    // Scroll en haut de page
    Scrolltop() {
      window.scrollTo(0, top);
    },
    // Scroll en milieu de page
    Scrolledit() {
      window.scrollTo(50, top);
    },
    // Affichage complet d'une recette
    entityshow(id, title, descriptive, ingrediant, recipe, id_user) {
      this.id = id,
      this.title = title,
      this.descriptive = descriptive,
      this.ingrediant = ingrediant,
      this.recipe = recipe,
      this.id_user = id_user
      this.showRecipe = true
      this.reload()
    },
    // Fermer l'affichage d'une recette
    entityhide() {
      this.id = "",
      this.title = "",
      this.descriptive = "",
      this.ingrediant = "",
      this.recipe = "",
      this.showRecipe = false
    },
    // Fermer la modification d'une recette
    closeEdit() {
      this.showEdit = false,
      this.id = "",
      this.title = "",
      this.descriptive = "",
      this.ingrediant = "",
      this.recipe = ""
    },
    // Rechargement des recettes
    reload() {
      this.fetchRecipes()
    },
    // Récupère le contenu du JWT
    parseJwt (token) {
      var base64Url = token.split('.')[1];
      var base64 = base64Url.replace(/-/g, '+').replace(/_/g, '/');
      var jsonPayload = decodeURIComponent(atob(base64).split('').map(function(c) {
        return '%' + ('00' + c.charCodeAt(0).toString(16)).slice(-2);
      }).join(''));
      return JSON.parse(jsonPayload);
    },
    // Récupère l'id du JWT
    getid (json) {
      return json.id
    },
    // Récupère les valeurs de la recette et les insère dans les inputs des modications
    getValue(title, descriptive, ingrediant, recipe) {
      this.titleEdit = title;
      this.descriptiveEdit = descriptive;
      this.ingrediantEdit = ingrediant;
      this.recipeEdit = recipe;
    },
  },
  computed: mapGetters(["allRecipes"]),
  // Charge les recettes et le jwt lors de la création de la page
  created() {
    this.fetchRecipes();
    this.getjwt = jwt.state.jwt
  },

};
</script>